<header>
  <ul class="globalNavigation">
    <li><a class="navigationItem" href="">TOP</a></li>
    <li><a class="navigationItem" href="#history">HISTORY</a></li>
    <li><a class="navigationItem" href="">AWARDS</a></li>
    <li><a class="navigationItem" href="">MAMBA MENTALITY</a></li>
  </ul>
</header>
