<header class="header">
  <ul class="globalNavigation">
    <li><a class="navigationItem" href="./index.html">TOP</a></li>
    <li>
      <a class="navigationItem" href="<%= mambaMentality %> "
        >MAMBA MENTALITY</a
      >
    </li>
    <li><a class="navigationItem" href="./history_page.html">HISTORY</a></li>
    <li><a class="navigationItem" href="./awards_page.html">AWARDS</a></li>
  </ul>
</header>
