<header>
  <ul class="globalNavigation">
    <li><a class="navigationItem" href="">TOP</a></li>
    <li><a class="navigationItem" href="#history">HISTORY</a></li>
    <li><a class="navigationItem" href="#awards">AWARDS</a></li>
    <li>
      <a class="navigationItem" href="#mambaMentality">MAMBA MENTALITY</a>
    </li>
  </ul>
</header>
