<nav>
  <ul class="globalNavigation">
    <li><a class="navigationItem" href="">Home</a></li>
    <li><a class="navigationItem" href="">History</a></li>
    <li><a class="navigationItem" href="">Award</a></li>
  </ul>
</nav>
