<!DOCTYPE html>
<html lang="ja">
  <% let title = "kobe" %> <% include ./src/ejs/templates/_head%>
  <body>
    <div class="wrap">
      <!-- Header -->
      <% include ./src/ejs/templates/_header %>

      <!-- Main visual -->
      <div class="mainVisual">
        <p class="descriptionText">
          NBAにおいて伝説的スターであるコービー・ブライアント<br />
          <br />
          2020年1月26日<br />
          彼が乗ったヘリコプターが墜落し、彼と彼の次女のジアナを含む<br />
          乗組員全員が死亡する事故が起き、それは世界中に衝撃を与えた<br />
          <br />
          コービーはとても厳しかった　自分にもチームメイトにも<br />
          自己中心的に映るプレーから、アンチも多かった<br />
          <br />
          しかし彼は、数々の偉業を成し遂げ実力を証明し続けた<br />
        </p>
      </div>

      <!-- Main maincontents -->
      <div class="mainContents">
        <section class="description">
          <h1 class="mainTitle">THIS IS KOBE</h1>
        </section>

        <!-- History -->
        <section class="history">
          <h2 class="subTitle">History</h2>
          <div>
            <img src="./../src/ejs/images/draft_3.jpg" alt="Draft" />
            <p>
              1996年NBAドラフトに高卒でアーリーエントリーした。<br />
              当時の大スターであるあのマイケル・ジョーダンと対戦したかった事が<br />
              理由の一つである。<br />
              <br />
              当時のNBAでは高卒のプレイヤーが活躍できるとは思っておらず<br />
              コービーへの期待はそこまで高いものではなかった。<br />
              <br />
              全体13位指名でシャーロット・ホーネッツから指名されるが、直後のトレードで名門レイカーズに入団する。
            </p>
          </div>
          <div>
            <img src="./../src/ejs/images/96-97_3.jpg" alt="1st season" />
            <p>
              1996年、チームの大黒柱シャックこと、シャキール・オニール有するレイカーズで<br />
              コービーのNBAキャリアはスタートする。<br />
              <br />
              出場時間は平均15分と、出番が多い選手ではなかった。<br />
              チームで故障者が多発していた影響で初めて選抜出場した試合で<br />
              当時の選抜出場最年少記録を塗り替えた。<br />
              オールスター・ウィークエンドのダンクコンテストでは最年少優勝を果たす。<br />
            </p>
          </div>
          <div>
            <img src="./../src/ejs/images/champion1_3.jpg" alt="cahmpionship" />
            <p>
              1999-2000シーズン、マイケル・ジョーダンと共にシカゴ・ブルズで2度の3連覇を果たした<br />
              新監督のフィル・ジャクソンが就任した事でチームは快進撃を続けた。<br />
              <br />
              このシーズンのMVPを獲得したシャックの活躍もあったが<br />
              コービー自身も初のシーズン平均20得点越えをするなど、攻守共にハイレベルな選手へと成長した。<br />
              <br />
              コービーにとっては4シーズン目で、初の優勝を果たす。
            </p>
          </div>
          <div>
            <img
              src="./../src/ejs/images/champion3x_3.jpg"
              alt="cahmpionship3x"
            />
            <p>
              2001-02シーズン、平均25.2得点という高水準をマーク。
              この頃には常連になっていたオールスターゲームでは初のMVPを獲得。<br />
              <br />
              前年も優勝を果たしており、シャックと共に3連覇を果たす。<br />
              当時23際のコービーは、史上最年少で3度の優勝をした選手となった。<br />
            </p>
          </div>
          <div>
            <img src="./../src/ejs/images/mvp_2.jpg" alt="mvp" />
            <p>
              2007-2008シーズン、コービーは28.3得点6.3リバウンド5.4アシストを記録。<br />
              自身初となるシーズンMVPを受賞する。
            </p>
          </div>
          <div>
            <img
              src="./../src/ejs/images/champion5x_3.jpg"
              alt="5 times cahmpionship"
            />
            <p>
              2009-2010シーズン、31歳になるコービーは満身創痍だった。<br />
              右手人差し指の剥離骨折を始め、足首、膝、腰と試合ごとに怪我が蓄積した。<br />
              そんな中、コービーは勝負を決める決勝ブザービーターを何度も沈め<br />
              人々にその勝負強さを焼き付けた。<br />
              <br />
              そしてコービーは2連覇を成し遂げキャリア5度目の優勝を果たす。
            </p>
          </div>
          <div>
            <img src="./../src/ejs/images/intai_3.jpg" alt="" />
            <p>
              2015-16シーズン、コービーは”親愛なるバスケットボールへ”とメッセージを発表し<br />
              正式に現役引退を表明した。<br />
              <br />
              マイケル・ジョーダン、サッカー選手のリオネル・メッシなどが声明を発表し<br />
              オバマ元大統領からホワイトハウスに招待されるなど<br />
              コービーの引退発表は各方面に影響を及ぼした。<br />
              <br />
              現役最後の試合、ファンに迎えられ出場したコービーはなんと60得点を記録。<br />
              60得点以上を記録した史上最年長選手となり優秀の美を飾った。<br />
            </p>
          </div>
        </section>

        <!-- Awards -->
        <section class="award">
          <h2 class="subTitle">Award</h2>
          <div class="awardBackgroundImage">
            <div>
              <img src="./../src/ejs/images/awards_img.jpg" alt="" />
            </div>
          </div>
        </section>
      </div>

      <section class="mambaMentality">
        <h2 class="subTitle">MAMBA MENTALITY</h2>
      </section>

      <!-- Hooter -->
      <% include ./src/ejs/templates/_footer %>
    </div>
  </body>
</html>
