<!DOCTYPE html>
<html lang="ja">
  <% var title = "THIS IS KOBE BRYANT" %> <% include ./src/ejs/templates/_head%>
  <body>
    <div class="wrap">
      <!-- Header -->
      <% var mambaMentality = "#mambaMentality"%> <% include
      ./src/ejs/templates/_header %>

      <!-- Main visual -->
      <div class="mainVisual"></div>

      <!-- Main maincontents -->
      <div class="mainContents">
        <section class="description">
          <h1 class="mainTitle">THIS IS KOBE BRYANT</h1>
          <p class="descriptionText">
            NBAにおいて伝説的スターであるコービー・ブライアント<br />
            <br />
            2020年1月26日<br />
            彼が乗ったヘリコプターが墜落 彼と彼の次女のジアナを含む<br />
            乗組員全員が死亡する事故が起き、この事故は世界中に衝撃を与えた<br />
            <br />
            コービーはとても厳しくストイックな性格で、自己中心的に映るプレーが目立ち<br />
            ファンにはアンチが多い選手だったと言ってもいいだろう<br />
            チーム内でもよく思わない選手もいた不仲説が噂されたこともあった<br />
            <br />
            しかし彼は数々の偉業を成し遂げ、実力を証明し続けた<br />
          </p>
        </section>

        <!-- mambaMentality -->
        <section id="mambaMentality">
          <h2 class="subTitle">MAMBA MENTALITY</h2>
          <div class="mambaMentalityWrap">
            <span class="highlight">- 最高の自分を目指す -</span><br />
            <p class="mambaMentalityText">
              <br />
              コービーが示してきたバスケットボールに取り組む姿勢は、彼の渾名ブラックマンバ<br />
              からとって、マンバメンタリティと呼ばれた。<br />
              <br />
              それは多くのNBAプレイヤーや関係者、多くの人々にリスペクトされた。<br />
              <br />
              コービー は語る。<br />
              <br />
              マンバメンタリティはコート上だけでの考え方ではなく、生き方そのもの。<br />
              １日も欠かす事なく成長のために努力する生き方。<br />
              やせ我慢したり虚勢を張ったりしながら生きる事ではない。<br />
              取り組んでいることが何であれ、上達のために努力するという最もシンプルな姿勢。<br />
              <br />
              マンバメンタリティは終わりなき旅。<br />
              無限の好奇心。<br />
              結末に拘らず、とにかく進み闘うこと。<br />
              人の目なんて気にしない、その瞬間だけに神経を注ぐ、それが真のマンバメンタリティだ。<br />
              <br />
              コービーのこのマインドセットは、何かに取り組む全ての人々に通じる姿勢。<br />
              コービーは現役生活を通してこれを実践、そして結果を出すことで人々にマインドを示した。
            </p>
          </div>
        </section>
      </div>
      <!-- Hooter -->
      <% include ./src/ejs/templates/_footer %>
    </div>
  </body>
</html>
