<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Kobe Bryant</title>
  </head>
  <body>
    <div class="wrap">
      <% include ./src/ejs/templates/_header %>
      <div class="mainVisual"></div>

      <div class="mainContents">
        <section class="description">
          <h1 class="mainTitle">THIS IS KOBE</h1>
          <p class="descriptionText"></p>
        </section>
        <section class="history"></section>
        <section class="award"></section>
      </div>
      <% include ./src/ejs/templates/_footer %>
    </div>
  </body>
</html>
