<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="./../src/ejs/reset.css" />
    <title>Kobe Bryant</title>
  </head>
  <body>
    <div class="wrap">
      <% include ./src/ejs/templates/_header %>
      <div class="mainVisual"></div>

      <div class="mainContents">
        <section class="description">
          <h1 class="mainTitle">THIS IS KOBE</h1>
          <p class="descriptionText">
            NBAにおいて伝説的スターであるコービー・ブライアント<br />
            <br />
            2020年1月26日<br />
            彼が乗ったヘリコプターが墜落し、彼と彼の次女のジアナを含む<br />
            乗組員全員が死亡する事故が起き、それは世界中に衝撃を与えた<br />
            <br />
            コービーはとても厳しかった　自分にもチームメイトにも<br />
            自己中心的に映るプレーから、アンチも多かった<br />
            <br />
            しかし彼は、数々の偉業を成し遂げ実力を証明し続けた<br />
          </p>
        </section>
        <section class="history">
          <h2>History</h2>
          <div>
            <img src="" alt="" />
          </div>
          <div>
            <img src="" alt="" />
          </div>
          <div>
            <img src="" alt="" />
          </div>
          <div>
            <img src="" alt="" />
          </div>
          <div>
            <img src="" alt="" />
          </div>
          <div>
            <img src="" alt="" />
          </div>
          <div>
            <img src="" alt="" />
          </div>
        </section>
        <section class="award">
          <h2>Award</h2>
          <div class="awardBackgroundImage">
            <p></p>
          </div>
        </section>
      </div>
      <% include ./src/ejs/templates/_footer %>
    </div>
  </body>
</html>
