.description {
  text-align: center;
  margin-bottom: 100px;

  .mainTitle {
    font-family: $titleFont;
    font-size: 60px;
    color: $titleColor;
    margin-bottom: 20px;

    @media screen and (max-width: 750px) {
      font-size: 24px;
    }
  }

  .descriptionText {
    line-height: 1.4;
    font-size: 16px;
    font-family: $textFont;
    color: $textColor;

    @media screen and (max-width: 750px) {
      font-size: 11px;
    }
  }
}
