#history {
  padding-top: 50px;
  margin-top: -50px;

  .subTitle {
    font-family: $titleFont;
    color: $titleColor;
    font-size: $subTitleFontSize;
  }
  .historyImg {
    margin-bottom: 30px;

    .imgTitle {
      font-family: $titleFont;
      color: $titleColor;
      font-size: 30px;
    }
  }
}
