#mambaMentality {
  padding-top: 50px;
  padding-bottom: 50px;
  margin-top: -50px;
  background: rgb(175, 175, 175);

  .subTitle {
    color: $titleColor;
    font-family: $titleFont;
    font-size: $subTitleFontSize;
    text-align: center;

    @media screen and (max-width: 750px) {
      font-size: 24px;
    }
  }

  .mambaMentalityWrap {
    margin: 0 auto;
    text-align: center;
    @media screen and (max-width: 750px) {
      padding: 10px;
    }

    .highlight {
      font-style: bold;
      font-size: 20px;
      color: $textColor;
    }
    .mambaMentalityText {
      display: inline-block;
      text-align: left;
      font-family: $textFont;
      color: $textColor;
      @media screen and (max-width: 750px) {
        font-size: 11px;
      }
    }
  }
}
